body{
	font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    color: #000000;
    background-color: #f8f8f8;
    text-align: center;
}

header{
    margin-top: 5em;
}

h3{
    margin:5px 0;
    color:#00000090;
}

a {
    color: #00000053;
    text-decoration:none;
}

a:hover{
    color: #1b9b25b0;
}

section{
    border: 1px solid #76767638;
    border-radius: 5px;
    width: 20em;
    margin: 0 auto 8em;
    background-color: white;
    padding: 25px 0;
}    

.notice{
    color:red;
}

.title{
    float: left;
    position: relative;
    left: 4em;
    font-weight: bold;
    font-size: 13px;
}

input{
    padding: 0.6em;
    width: 60%;
    background-color: #ffffff;
    border: #00000052 solid 1px;
    border-radius: 3px;
    color: #000000;
    margin-top: 10px;
    font-size:14px;
}

input[type="submit"]:hover {
    cursor: pointer;
}


input[type="submit"]  {
    color:white;
    background-color: #1b9b25b0;
    border: #00000014 solid 1px;
    width: 8em;
}

.copyright{
    position: relative;
    top: 4em;
}

.copyright img{
    position: relative;
    top: 10px;
}


@media only screen and (min-width: 980px) and (max-width: 1200px) {
    header{
        margin-top:17em;
    }

    header img{
        width:12em;
    }

    .contents{
        width:30em;
        height:22em;
        margin:2em auto 8em;
    }

    input{
        width:70%;
        height:2em;
    }

    form{
        margin:2em 0;
    }

    .copyright{
        position: relative;
        top:28em;
        font-size:x-small;
    }
}


@media only screen and (min-width: 640px) and (max-width: 980px) {
    header{
        margin-top:17em;
    }

    .copyright{
        position: relative;
        top:18em;
        font-size:x-small;
    }

    section{
        width:25em;
    }
}


@media only screen and (max-width: 640px) {

    footer{
        font-size:x-small;
    }
    header{
        margin-top:9em;
    }

    footer img{
        width:40px;
    }
}

