* {
    margin: 0;
    padding: 0;
 }

a{
    color: #767676;
    text-decoration:none;
}
            
header {
    color: #000000;
    background-color: #f8f8f8;
    text-align: center;
    height: 60px;
}

.div-left{
    float: left;
    margin: 10px;
}

.div-left a{
    padding: 10px;
    color: #767676;
}

a:hover{
    color: #000000;
}  

.div-left img{
    position: relative;
    top:10px;
}

.wrap {
    margin-right: 20px;
    margin-top: 10px;
    color: #767676;
    float: right;   
}

.wrap ul{
    position: absolute;
    display: none;
    text-decoration: none;
    background-color: #e7e7e7;
    text-align: left;
}

.wrap li {
    display: inline-block;
    color:#767676;
    text-align: left;
}

.wrap h3{
    height: 40px;
    padding-top: 10px;
    color:#767676;
}


.content{
    margin: 30px 30px 0;
    background-color: #f8f8f8;
    border:1px solid #e7e7e7;
    border-radius: 10px;
    padding:20px 0;
}

.title{
	color: #767676;
    font-weight: bold;
    margin:5px;
}

.upload{
	width: 500px;
    margin: 20px auto;
}


hr{
	border-width:0;
    height: 1px;
    color:rgba(123, 123, 123, 0.2);
    background-color:rgba(123, 123, 123, 0.2);
    margin-top: 10px;
}

footer{
  color: #767676;
  text-align: center;
  background-color: #f8f8f8;
  height: 50px;
  margin-top: 20px;
}

.copyright img{
    position: relative;
    top: 10px;
}

.showImg{
	width: 500px;
    height: 300px;
    border: 1px dashed;
    border-color: #00000052;
    border-radius: 5px;
    margin: 30px 0 10px 0;
    background-color: white;
}

.upload img{
	width: 500px;
	height:300px;
	object-fit: scale-down;
}

.name{
	font-size: 15px;
    font-weight: bold;
    margin: 20px;
} 

form{
	margin: 0 auto;
    width: 45em;
}

input[type="text"], textarea{
    padding: 0.5em;
    width: 100%;
    background-color: #ffffff;
    border: #00000052 solid 1px;
    border-radius: 3px;
    color: #000000;
    margin: 10px 0 10px 20px;
}

select{
    width: 8em;
    text-align: center;
    padding: 5px;
    margin: 10px 0 10px 20px;
    background-color: #ffffff;
    border: #00000052 solid 1px;
    border-radius: 3px;
    color: #000000;
}

button[type="submit"]{
    width: 8em;
    text-align: center;
    padding: 5px;
    margin: 10px 0 10px 20em;
    background-color: #1b9b25b0;
    border: #00000052 solid 1px;
    border-radius: 3px;
    color: #000000;
    color:white;

}

button[type="submit"]:hover {
    cursor: pointer;
}


input[type="submit"]  {
    color:white;
    background-color: #1b9b25b0;
    border: #00000014 solid 1px;
    border-radius: 3px;
    width: 8em;
    height:2em;
    margin: 20px;
}

textarea{
	height:120px;
}

@media only screen and (min-width: 980px) and (max-width: 1200px) {
    .text{
        margin:10px 0 70px;
    }

    .content {
        margin: 40px 30px 5em;
        padding: 20px 0;
    }
    
    input[type="text"], textarea {
        padding: 0.5em;
        width: 100%;
        height: 1.8em;
        margin: 20px 0 40px 20px;
    }

    .upload {
        width: 500px;
        margin: 40px auto;
    }

    form {
        margin: 40px auto;
    }


}


@media only screen and (min-width: 640px) and (max-width: 980px) {
    .name{
        margin:40px;
    }

    input[type="text"], textarea {
        padding: 0.5em;
        width: 80%;
        margin: 10px 0 10px 40px;
    }

    input[type="submit"]{
        margin:40px;
    }
}

@media only screen and (max-width: 640px) {

    .upload {
        width: 100%;
        margin: 20px auto;
    }

    .showImg {
        width: 80%;
        height: 200px;
        margin: 30px auto;
    }

    form {
        margin: 0 10px;
        width: 80%;
    }

    .name{
        margin:0;
        font-size:12px;
    }

    input[type="text"], textarea {
        margin: 10px 0 10px;
    }

    input[type="submit"] {
        margin: 20px 0;
    }     

    footer{
        font-size:x-small;
    }

    footer img{
        width:40px;
    }

    header img {
        display: none;
    }

    .div-left{
        margin:20px 0 0 10px;
    }

    .div-left a{
        padding:0;
    }

    h3{
        font-size:medium;
    }

    .wrap ul{
        width:7em;
        position: relative;
        right:5px;
    }
}








